.school-section {
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 5rem;
}
.school-filter {
  width: 22%;
  display: flex;
  height: 100%;
  /* height: 52.5rem; */
  border: 1px solid black;
}
.school-main {
  width: 42%;
  height: 100%;
  border: 1px solid red;
  margin-left: 4rem;
}
.school-search {
  border: 1px solid green;
  width: 100%;
  height: 5.9375rem;
  display: flex;
  flex-shrink: 0;
}
.school-search h1 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* border: 1px solid purple; */
  width: 20%;
  margin: auto;
  margin-left: 1.2rem;
}
.search-bar-school {
  display: flex;
  align-items: center;
  width: 33.5625rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 2px solid #000;
  background: #fff;
}
.search-bar-school button {
  position: relative;
  right: 0.5rem;
  background-color: #ffd700;
  width: 6.5625rem;
  height: 2.4375rem;
  border-radius: 0.4375rem;
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  line-height: normal;
}
.filter__main {
  width: 100%;
  height: 2.9375rem;
  color: #fff;
  display: flex;
  border: 1px solid orangered;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  background: #0f0c2d;
}
.filter__heading{
    width: 50%;
    /* border: 1px solid white; */
    padding-left: 5%;
}
.filter__heading h1 span {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 1.55rem;
  font-style: normal;
  /* border: 1px solid gainsboro; */
  font-weight: 500;
  line-height: normal;
}
.filter__heading h1{
    margin-top: 5%;
    margin-left: 5%;
   
}
.filter__clear{
    /* margin-top: 2%; */
    display: flex;
    width: 50% ;
    /* border: 1px solid white; */
    padding: 2% 10% ;
}
.filter__clear button{
    border: 1px solid white;
    border-radius: 2px;
    height: fit-content;
    width: fit-content;
    margin-left: 5%;
}