.main {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5rem;
  font-family: SFProDispaly;
  overflow: hidden;
}
.filter-text {
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background: #0f0c2d;
  color: #fff;
  padding: 0 0.9rem;
}
.line {
  height: 0.1875rem;
  background-color: #dbd9d9;
  width: 105%;
}
.fees {
  width: 100%;
  text-align: start;
}

.fees .options {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align checkboxes to the left */
}

.clear-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.filter-component {
  position: sticky;
  top: 0;
  height: 100%;
}
.filters {
  overflow-x: hidden;
  background-color: #fff;
  overflow-y: scroll;
  min-height: 250px;
  max-height: 85%;
}

.search {
  justify-content: space-around;
  width: 100%;
  position: sticky;
  
}


.search .heading {
  font-size: 1.25rem;
}

.inputs button {
  border-radius: 0.4375rem;
  background: #ffd700;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
}
.school-component {
  display: flex;
  gap: 5%;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.school-filter {
  width: 30%;
  min-height: 100%;
  position: sticky;
  top: 0;
}

/* image */
.search img {
  margin-left: 0.5rem;
}
.school-card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 0.3rem 1.5rem 0;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.college-list {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}


.school-result {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  /* border: 1px solid orangered; */
  height: 8.625rem;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.school-result__rank {
  /* border: 1px solid red; */
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.school-result__img {
  border: 1px solid black;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem;
}
.school-result__details {
  /* border: 3px solid purple; */
  width:100%;
  margin-left: 0.3rem;
  padding: 0.3rem;
}
.rank__number{
  text-align: center;
  font-size: 2rem;
}
.rank__city{
  font-size: 1.2rem;
}
.school-result__img img{
  height: 80%;
  width: 80%;
}
.seprator{
  height:1.5rem;
  width: 0.21rem;
  background-color: #000;
}
.school-shortdetail{
  display: flex;
  margin: 0.71rem 0rem;
  /* border: 1px solid black; */
}
.school-name{
  /* border: 1px solid blue; */
  width: 100%;
  font-weight: bolder;
}
.school-name span{
  font-size: 1.5rem;
  font-weight: 500;
}
.shortdetal__location{
  margin-left: 0.5rem;
}
.shortdetal__location span{
  margin: 0rem 1rem;
}
.school__rating span {
  margin: 0rem 1rem;
}
.school__fees span{
  margin: 0rem 1rem;
}
.school-board{
  display: flex;
  justify-content: space-between;
}
.visitschool{
  margin-left: 1rem;
}
.visitschool button{
  background-color: #ffd700;;
  border: 1px solid black;
  border-radius: 5px;
  width: 10rem;
}
.src-button button{
  position: relative;
  left: 9rem;
  background-color: #ffd700;
  width: 6.5625rem;
  height: 2.4375rem;
  border-radius: 0.4375rem;
  color: #000;
  /* border: 1px solid red; */
  font-family: SFProDispaly;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  line-height: normal;
}
.school-main{
    width: 75%;
    overflow-y: scroll;
    position: relative;
}