body {
  background-color: #f3f2ef;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-family: SFProDispaly;
}

.college-component {
  display: flex;
  gap: 5%;
  width: 70%;
  height: 100%;
  /* background-color: black; */
}

.clear-button:hover {
  cursor: pointer;
}

.college-filter {
  width: 30%;
  min-height: 100%;
  /* background-color: red; */
  /* border: 2px solid pink; */
}

.filters {
  overflow-x: hidden;
  background-color: #fff;
  overflow-y: scroll;
  min-height: 250px;
  max-height: 85%;
}
.line {
  height: 0.1875rem;
  background-color: #dbd9d9;
  width: 105%;
}

.main-college {
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.9375rem;
  /* border: 2px solid pink; */
}

.search .input {
  border: 3px solid green;
}

.college-list {
  width: 100%;
  height: 100%;
  /* border: 2px solid pink; */
}

.filter-component {
  height: 100%;
}

.filter-text {
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background: #0f0c2d;
  color: #fff;
  padding: 0 0.9rem;
}
.clear-button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.filter-heading {
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.fees {
  width: 100%;
}

.fees .options {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align checkboxes to the left */
}

.option {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.ownership,
.location,
.fees,
.exam,
.specialization {
  margin-top: 0.1rem;
  padding: 0.5rem 1rem;
}

.filter-heading label {
  margin-bottom: 0.5rem;
}
