body {
  font-family: SFProDispaly;
}
.institute-banner-section {
  width: 67.6875rem;
  height: fit-content;
  border-radius: 1rem;
  position: relative;
  border-radius: 0.75rem;
  padding-bottom: 1rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.institute-banner {
  object-fit: cover;
}
.institute-logo {
  width: 9.375rem;
  height: 9.375rem;
  flex-shrink: 0;
  object-fit: cover;
}
.institute-main {
  /* height: 250vh; */
  width: 100%;
}
.institute-banner {
  width: 100%;
  height: 14.125rem;
}
.institute-logo {
  width: 7rem;
  height: 7rem;
  flex-shrink: 0;
  position: absolute;
  bottom: 2%;
  left: 1.5%;
  /* z-index: 2; */
}
.banner-detail {
  width: 70%;
  margin-left: 20%;
  /* border: 1px solid yellow; */
  justify-content: space-between;
  position: relative;
  display: flex;
}
.banner-detail__name {
  /* border: 1px solid red; */
  width: 70%;
}
.small-detail {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.small-detail-govern {
  background-color: black;
  color: white;
  padding: 0.1rem 0.5rem;
  background: #0f0c2d;
}

.saves-btn {
  width: 6.9375rem;
  height: 2.375rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.saves-btn span {
  font-size: 1.4rem;
}
.institute-aboutus {
  width: 67.6875rem;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  color: #000;
  font-family: SFProDispaly;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.container .heading {
  font-size: 2rem;
}

.institute-information {
  width: 67.6875rem;
  display: flex;
  gap: 2rem;
  color: #000;
  font-family: SFProDispaly;

  line-height: normal;
}
.information-left {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
  padding: 2.5rem;
  /* border: 1px solid black; */
  background-color: white;
  height: 24.8125rem;
  border-radius: 1rem;
}
.information-right {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
  /* border: 1px solid black; */
  background-color: white;
  height: 24.8125rem;
  border-radius: 1rem;
}
.exam-info-span {
  color: #0f0c2d;
  font-family: SFProDispaly;
  font-weight: bolder;
  font-size: 1.775rem;
  font-style: normal;
  line-height: normal;
}
.course-info-span {
  color: #0f0c2d;
  font-family: SFProDispaly;
  font-weight: bolder;
  font-size: 1.775rem;
  font-style: normal;
  line-height: normal;
}
.fees-info-span {
  color: #0f0c2d;
  font-family: SFProDispaly;
  font-weight: bolder;
  font-size: 1.775rem;
  font-style: normal;
  line-height: normal;
  /* margin-bottom: 1rem; */
}
.exam-info-span2 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fees-info-span2 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem;
}
.course-info-span2 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.exam-info h3 {
  margin: 2% 0%;
}
.course-info h3 {
  margin: 2% 0%;
}
.fees-info h3 {
  margin: 2% 0%;
}
.info-common {
  display: flex;
  margin-top: 1rem;
}
.information-right {
  padding: 2rem;
}
.contact-detail {
  margin: 0.5rem 5rem;
}
.contact-detail h1 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.common-head {
  color: #444;
  font-family: SFProDispaly;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.common-main {
  margin-left: 5rem;
}
.button-to-webite {
  width: 100%;
}
.button-to-webite button {
  margin-top: 1.2rem;
  margin-left: 8rem;
}
hr {
  margin: 1rem 0rem;
}
.institute-rating {
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 1rem;
  width: 67.6875rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: SFProDispaly;
  line-height: normal;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.left-rating {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  /* padding: 2rem; */
}
.right-rating {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black; */
}
.rating-detail h5 {
  font-size: 1.3rem;
}
.rating-detail h1 {
  font-size: 2rem;
}
.rating-svg h1 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rating-svg h1 span {
  color: #000;
  font-family: SFProDispaly;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rating-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  width: fit-content;
}
.rating-svg img {
  width: 2.5rem;
  height: 2.471rem;
  flex-shrink: 0;
  margin-right: 1rem;
}
.faq {
  width: 67.6875rem;
}
.identity h1 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}
.identity h2 {
  color: #000;
  font-family: SFProDispaly;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reviews {
  width: 67.6875rem;
  border-radius: 1rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.reviewer-name {
  display: flex;
  gap: 1rem;
}
.card-reviews {
  margin-bottom: 1rem;
}
.summarized-review {
  margin-top: 3rem;
  color: #000;
  font-family: SFProDispaly;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.placements-review {
  margin: 1rem 0rem;
}
.placements-review p span {
  font-weight: bolder;
}
.infrastructure-review p span {
  font-weight: bolder;
}
.infrastructure-review {
  margin: 1rem 0rem;
}

.exam-info-span,
.course-info-span,
.fees-info-span {
  font-size: 1.5rem;
}

.fees-cost {
  font-size: 1.4rem;
}

.top {
  display: flex;
  font-size: 1.2rem;
  gap: 10px;
}

.bottom {
  font-size: 1.35rem;
  margin-top: 0.5rem;
}

.mix-right {
  display: flex;
  align-items: center;
}
