@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  font-family: "SFProDispaly";

  background-color: red;

}
@font-face {
  font-family: "SFProDispaly";
  font-weight: 300;
  src: url("../public/assets/fonts/sfprodisplayregular-webfont.woff2")
      format("woff2"),
    url("../public/assets/fonts/sfprodisplayregular-webfont.woff")
      format("woff");
}
@font-face {
  font-family: "SFProDispaly";
  font-weight: 400;
  src: url("../public/assets/fonts/sfprodisplaymedium-webfont.woff2")
      format("woff2"),
    url("../public/assets/fonts/sfprodisplaymedium-webfont.woff2")
      format("woff");
}

@font-face {
  font-family: "SFProDispaly";
  font-weight: 500;
  src: url("../public/assets/fonts/sfprodisplaybold-webfont.woff2")
      format("woff2"),
    url("../public/assets/fonts/sfprodisplaybold-webfont.woff") format("woff");
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(19, 19, 19);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f6e72;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f0c2d;
}
